/*Elements*/
* {
  box-sizing: border-box;
}
html,
body,
article,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
a:link,
a:visited {
  color: #2b2b2b;
  text-decoration: none;
}

a:active {
  color: #518abc;
  text-decoration: none;
}

body {
  width: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
h3 {
  font-weight: 100;
}
iframe {
  margin-top: 1em;
}
img {
  max-width: 100%;
  overflow: hidden;
}
p {
  margin: 0;
}

/* IDs */
#about {
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
}
#dgammalogo {
  width: 4em;
}
#interests {
  flex: 1 1 150px;
  justify-content: space-between;
  max-width: 1072px;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 2em;
}
#interests > article {
  flex-basis: 275px;
  padding: 10px;
  min-width: 220px;
  margin: 0 auto;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1050px;
  margin: auto;
}
#profile_picture {
  width: 10em;
  height: 10em;
  flex: 1 0 auto;
  border-radius: 50%;
  margin: auto 2em;
}
.audio {
  text-align: center;
  justify-content: center;
  margin-top: 1.5em;
}
/* Classes */
.blue {
  background-color: #d6e4f5;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.column {
  flex-direction: column;
}
/*
.page * {
  flex-direction: row;
}*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1 1 0;
}
.grid_img {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
}
.grid_img > * > img {
  object-fit: cover;
}
.grid_img > * > * > img {
  object-fit: cover;
}
.grid_photo {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0;
  align-items: start;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  overflow: hidden;
}
div > img {
  padding: 2px 4px;
}
.item {
  flex: 1 1 0;
}
.item1,
.item2,
.item3,
.item4,
.item5 > img {
  object-fit: cover;
}
.item1 {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: end;
}
.item2 {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: start;
  max-width: 470px;
}
.item3 {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: start;
  max-width: 470px;
}
.item4 {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: start;
  max-width: 470px;
}
.item5 {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: start;
  max-width: 470px;
}

.content {
  margin-right: 4em;
}
.flex {
  display: flex;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 0 1em;
  margin: 0px;
  background-color: #000000;
}
.green {
  background-color: #d0e3d4;
}
.header {
  width: 100%;
  padding: 15px 0;
  margin: 0px;
  background-color: #000000;
  color: white;
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  justify-content: center;
}
.nav_links {
  margin: 1em 1em 1em 2em;
  padding: 0.5em;
  border-bottom: black solid;
}
.one_img {
  flex: 4 2 0;
  aspect-ratio: 3/4;
}
.page {
  max-width: 100%;
  min-width: 360px;
  min-height: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
}
.parent {
  margin: 0;
  width: 100%;
}
.photos {
  aspect-ratio: 4/3;
  object-fit: cover;
  width: 100%;
}
.photos_title {
  padding: 1em 0 1em 2em;
  font-size: 1.4em
}
.portfolio {
  flex: 0 1 auto;
  text-align: center;
  padding: 2em;
}
.portfolio > img {
  width: 16em;
  height: 16em;
  border-radius: 50%;
  object-fit: cover;
}
.row {
  flex-direction: row;
}
.text {
  max-width: 700px;
}
.third {
  max-width: 33.3%;
}
.two_img {
  flex: 2 4 0;
  aspect-ratio: 3/8;
}
.two-thirds {
  max-width: 66.6%;
}

.vcenter {
  vertical-align: middle;
}
.youtube {
  flex: 1 1 auto;
  align-items: center;
  margin-top: 1em;
}
